/* Import z Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&family=Exo+2:wght@100;200;300;400;500;600;800;900&display=swap');

/* Hlavní prvky */
body {
    background-color: #eff1ee;
    padding: 0;
    margin: 0;
    overflow: hidden;
    /* hides scrollbar */
}

#titletext {
    font: 400 2rem "DM Sans", Sans-serif;
}

h2.generaltitle {
    font-family: "DM Sans", Sans-serif;
    padding: 0.5rem;
    margin-left: 0.4135rem;
    animation: generaltitle_loading 1s forwards;
}

div.fitness_statistics {
    background-color: transparent;
    width: 19rem;
    height: 8.25rem;
    border-radius: 1.25rem;
    margin-top: -2.25rem;
}

progress {
    width: 92%;
    height: 25%;
    margin: -1rem 0 0 1rem;
    /* Top, right, bottom, left */
    border-radius: 999rem;
}

progress::-webkit-progress-bar {
    background-color: #cae0dc;
    border-radius: 999rem;
}

progress::-webkit-progress-value {
    background-color: #068675;
    border-radius: 999rem;
}

#contentbackground {
    background-color: white;
    border-top-left-radius: 1.25rem;
    height: 57.2rem;
    margin-top: 0.725rem;
    margin-left: 20em;
}

#sidebar {
    float: left;
}

#more_exercise_tip {
    font-family: "DM Sans", Sans-serif;
    padding: 0.625rem;
    margin-left: 5px;
    color: black;
}

#more_steps_tip {
    font-family: "DM Sans", Sans-serif;
    padding: 0.625rem;
    margin-left: 0.3125rem;
    color: black;
}

#more_distance_tip {
    font-family: "DM Sans", Sans-serif;
    padding: 0.625rem;
    margin-left: 0.3125rem;
    color: black;
}

p.progressbartext {
    margin-left: 16.8rem;
    margin-top: 0.1875rem;
    font-family: "DM Sans"
}

h2.tab {
    margin-top: -3.5875rem;
    float: left;
    font-family: "DM Sans";
    font-weight: normal;
}

#tab0 {
    margin-left: 20.625rem;
}

#tab1 {
    margin-left: 30.3rem;
}

#tab2 {
    margin-left: 37.5rem;
}

div.statistic {
    background-color: #f7f9fc;
    border-radius: 1rem;
    padding: 0.75rem;
    padding-left: 2rem;
    margin-left: 1.5rem;
    margin-right: 39rem;
    font-family: "DM Sans";
    width: 11.2rem;
}

div.iconcircle {
    padding: 1rem;
    background-color: #bfe6ff;
    border-radius: 1rem;
    height: 2rem;
    width: 2rem;
    margin-bottom: -8.2rem;
    margin-left: 7rem;
}

#weight {
    margin-top: -1.2rem;
    font-weight: normal;
    font-size: 1.15rem;
    margin-bottom: 0.625rem;
    margin-left: -1.05rem;
}

#weighttitle {
    margin-top: 4.3rem;
    margin-left: -1.05rem;
}

div.profile_header {
    padding: 1.5rem;
    font-family: "DM Sans";
    background: linear-gradient(to right, #f8fdf9, #cde9e3);
    border-top-right-radius: 1.2rem;
    border-top-left-radius: 1.2rem;
    margin-left: 1.2rem;
    margin-right: 65rem;
    height: 10rem;
    width: 25rem;
}

/* Coach podstránka */
p.backbutton {
    font-family: "DM Sans";
    margin-left: 1.25rem;
}

div.recipe {
    width: 18.75rem;
    padding: 0.625rem;
    border-radius: 1.25rem;
    background-color: white;
    display: inline-block;
    /* </div> by automaticky 
    skončil řádek, toto zajišťuje, že ne */
    margin-bottom: 1rem;
}

h2.recipetitle {
    margin-left: 1.25rem;
    font-family: "DM Sans";
}

img.recipeimage {
    height: 12.5rem;
    width: 18.75rem;
    border-radius: 0.9rem;
}

#recipescarousel {
    overflow: auto;
    /* horizontal scroll */
    white-space: nowrap;
    user-select: none;
}

::-webkit-scrollbar {
    height: 0.65rem;
    background-color: whitesmoke;
    border: 1px solid transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #cae0dc;
    border-radius: 999rem;
}

#name_input {
    scale: 0;
    margin-left: 1.2rem;
    margin-top: 0.5rem;
    width: 27.5rem;
    height: 3.2rem;
    border-bottom-left-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
    border-color: transparent;
    text-align: center;
    font-family: "DM Sans";
}

#weight_input {
    padding: 10px;
    background-color: white;
    border-color: transparent;
    margin-left: 1.2rem;
    margin-top: 2rem;
    width: 26.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

#age_input {
    padding: 10px;
    background-color: white;
    border-color: transparent;
    margin-left: 1.2rem;
    margin-top: 0.3rem;
    width: 26.5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

#weight_indicator {
    float: right;
    z-index: 10;
}

#debug_menu {
    background-color: #e8e8e8;
    width: 20rem;
    height: 11rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
    float: right;
    border-radius: 0.8rem;
    padding: 1rem;
    white-space: collapse;
    visibility: hidden; /* změna při open_debug() */
}

#clearvaluesbutton {
    margin-top: 0.5rem;
}

#debug_title {
    font-family: "Exo 2";
    font-weight: normal;
    margin-left: 0.3rem;
    margin-top: 0.2rem;
}

button.debug_button {
    animation: button_press_revert 0.15s forwards;
    background-color: white;
    border-color: transparent;
    padding: 1rem;
    float: left;
    border-radius: 0.8rem;
    font: 0.8rem "Exo 2";
    cursor: pointer;
    margin-right: 1rem;
}

#open_debug_button {
    float: right;
    margin-top: -4.2rem;
}

#close_debug_button {
    font-family: "DM Sans";
    font-weight: bolder;
    background-color: transparent;
    border-color: transparent;
    margin-left: 8.5rem;
    margin-bottom: 0.2rem;
    font-size: 1rem;
    cursor: pointer;
}

button.debug_button:active {
    animation: button_press 0.15s forwards;
}

#debugnotice {
    background-color: #fff2f2;
    padding: 1rem;
    font: 0.5em "DM Sans";
    margin-right: 9rem;
    margin-top: -0.3rem;
    border-radius: 0.9rem;
    color: #7d0b0b;
    float: right;
}
#age_easter_egg { /* Nezapomenout dodělat */
    visibility: visible;
}

/* Ikony */
#mainicon {
    margin-bottom: -0.25rem;
    margin-left: 0.9375rem;
    margin-right: 0.625rem;
    scale: 1.5;
}

img.inline_icon {
    margin-bottom: -0.1875rem;
}

img.checkmark {
    height: 1.5em;
    width: 1.5em;
    margin-bottom: -0.3em;
}

#stepscheckmark {
    margin-left: 6em;
}

#distancecheckmark {
    margin-left: 4.62em;
}

#azmcheckmark {
    margin-left: -0.22em;
}

#weighticon {
    margin-left: 0.2rem;
    scale: 1.2;
    margin-top: 0.2rem;
}

#mainiconsettings {
    height: 1.8rem;
    width: 1.8rem;
}

#full_name {
    margin-top: 4rem;
    overflow: hidden;
    max-width: 27rem;
    max-height: 2rem;
}

#join_date {
    margin-top: -0.8rem;
}

#name_button {
    background-color: white;
    border-color: transparent;
    padding: 0.7rem;
    font-family: "DM Sans";
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    margin-top: 0.5rem;
    margin-left: 1.2rem;
    width: 28rem;
    height: 3.5rem;
    animation-name: name_button_click_revert;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

#name_button:active {
    animation-name: name_button_click;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

/* animation */
@keyframes name_box_appear {
    from {background-color: transparent; margin-top: -1rem;}
    to {background-color: white; margin-top: 0.5rem;}
}

@keyframes checkmark_appear {
    from {scale: 0; filter: grayscale(1);}
    to {scale: 1; filter: grayscale(0);}
}

@keyframes checkmark_disappear {
    from {scale: 1; filter: grayscale(0);}
    to {scale: 0; filter: grayscale(1);}
}

@keyframes debug_appear {
    from {opacity: 0; margin-top: -1rem;}
    to {opacity: 1; margin-top: 0rem;}
}

@keyframes debug_disappear {
    from {opacity: 1; margin-top: 0rem;}
    to {opacity: 0; margin-top: -1rem;}
}

@keyframes name_button_click {
    from {background-color: white; scale: 1;}
    to {background-color: #f0f9f5; scale: 0.95;}
}

@keyframes name_button_click_revert {
    from {background-color: #f0f9f5; scale: 0.95;}
    to {background-color: white; scale: 1;}
}

@keyframes button_press {
    from {color: black; background-color: white;scale: 1;}
    to {color: white; background-color: gray; scale: 0.89;}
}

@keyframes button_press_revert {
    from {color: white; background-color: gray; scale: 0.89;}
    to {color: black; background-color: white; scale: 1;}
}

/* Mobilní layout */
@media only screen and (max-width: 1000px) {
    #sidebar {
        float: left;
        width: 100%;
        margin-top: 0.94rem;
    }

    div.fitness_statistics {
        width: 97%;
        height: 6.25rem;
        margin-top: 0;
    }

    p.progressbartext {
        margin-left: 88%;
        margin-top: 0.1875rem;
        font-family: "DM Sans"
    }

    #tabs {
        margin-left: -18rem;
        margin-top: 48rem;
        font-size: 0.7rem;
        position: fixed;
        z-index: 4;
    }

    #tabsbackground {
        visibility: visible;
        height: 6.2rem;
        margin-top: 43rem;
        background-color: #f7f7f7;
        position: sticky;
        z-index: 3;
    }

    #tab0 {
        margin-left: 21rem;
    }

    #tab1 {
        margin-left: 28.3rem;
    }

    #tab2 {
        margin-left: 33.7rem;
    }

    #debug_menu {
        position: absolute;
        z-index: 2;
        float: left;
        margin-left: 5%;
    }

    #contentbackground {
        float: left;
        margin-right: 0;
        margin-left: 0;
        width: 100%;
        margin-top: 1.8rem;
        border-top-left-radius: 1.25rem;
        border-top-right-radius: 1.25rem;
    }

    p.progressbartext {
        margin-top: 0.2875rem;
    }

    #sidebar {
        margin-top: -1rem;
    }

    #titlesurroundingbox {
        height: 3.75rem;
    }

    #stepscheckmark {
        margin-left: 0rem;
    }

    #distancecheckmark {
        margin-left: -0.2rem;
    }

    #titletext {
        text-align: center;
        margin-left: -32px; /* Šířka ikony, která v mobilním zobrazení není přítomna */
    }

    #mainicon {
        visibility: hidden;
    }

    #open_debug_button {
        margin-top: 2rem;
        position: absolute;
    }
}