/* Import z Google Fonts - DM Sans, Exo 2 */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&family=Exo+2:wght@100;200;300;400;500;600;800;900&display=swap');

/* Hlavní prvky */
body {
    background-color: #eff1ee;
    padding: 0;
    margin: 0;
    overflow: hidden;
    animation-name: startup;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    position: relative;
}

body.coach {
    overflow: scroll;
}

::-webkit-scrollbar {
    height: 0.8rem;
    width: 0;
    background-color: whitesmoke;
    border: 1px solid transparent;
}

#titletext {
    font: 400 2rem "DM Sans", Sans-serif;
}

h2.generaltitle {
    font-family: "DM Sans", Sans-serif;
    padding: 0.5rem;
    margin-left: 0.4135rem;
    animation: generaltitle_loading 1s forwards;
}

div.fitness_statistics {
    background-color: transparent;
    width: 19rem;
    height: 8.25rem;
    border-radius: 1.25rem;
    margin-top: -2.25rem;
}

progress {
    width: 92%;
    height: 25%;
    margin: -1rem 0 0 1rem;
    /* Top, right, bottom, left */
    border-radius: 999rem;
}

progress::-webkit-progress-bar {
    background-color: #cae0dc;
    border-radius: 999rem;
}

progress::-webkit-progress-value {
    background-color: #068675;
    border-radius: 999rem;
    transition: width 0.6s ease-in-out;
}

#contentbackground {
    background-color: white;
    border-top-left-radius: 1.25rem;
    height: 57.2rem;
    margin-top: 0.725rem;
    margin-left: 20em;
}

#sidebar {
    float: left;
}

#more_exercise_tip {
    font-family: "DM Sans", Sans-serif;
    padding: 0.625rem;
    margin-left: 5px;
    color: black;
}

#more_steps_tip {
    font-family: "DM Sans", Sans-serif;
    padding: 0.625rem;
    margin-left: 0.3125rem;
    color: black;
}

#more_distance_tip {
    font-family: "DM Sans", Sans-serif;
    padding: 0.625rem;
    margin-left: 0.3125rem;
    color: black;
}

p.progressbartext {
    margin-left: 16.8rem;
    margin-top: 0.1875rem;
    font-family: "DM Sans"
}

h2.tab {
    margin-top: -3.5875rem;
    float: left;
    font-family: "DM Sans";
    font-weight: normal;
}

h2.tab {
    margin-top: -3.5875rem;
    float: left;
    font-family: "DM Sans";
    font-weight: normal;
}

h2.tab_subpage {
    margin-top: -5.8875rem;
    float: left;
    font-family: "DM Sans";
    font-weight: normal;
}

#tab0 {
    margin-left: 20.625rem;
}

#tab1 {
    margin-left: 30.3rem;
}

#tab2 {
    margin-left: 37.5rem;
}

#tab0_subpage {
    margin-left: 23.625rem;
}

#tab1_subpage {
    margin-left: 33.3rem;
}

#tab2_subpage {
    margin-left: 40.5rem;
}

#selected_tab_indicator_coach {
    width: 4.5rem;
    height: 0.12rem;
    background-color: #54818b;
    margin-left: 33.4rem;
    margin-top: -3.65rem;
    position: absolute;
    animation-name: change_tab_animation;
    animation-duration: 0.7s;
    animation-fill-mode: forwards;
}

div.selected_tab_indicator {
    width: 7.5rem;
    height: 0.12rem;
    background-color: #54818b;
    margin-left: 20.7rem;
    margin-top: -1.4rem;
}

div.statistic {
    background-color: #f7f9fc;
    border-radius: 1rem;
    padding: 0.75rem;
    padding-left: 2rem;
    margin-left: 1.5rem;
    margin-right: 39rem;
    font-family: "DM Sans";
    width: 11.2rem;
    white-space: nowrap;
}

#BMI_chip {
    margin-left: 17rem;
    margin-top: -5.7rem;
}

div.iconcircle {
    padding: 1rem;
    background-color: #bfe6ff;
    border-radius: 1rem;
    height: 2rem;
    width: 2rem;
    margin-bottom: -8.2rem;
    margin-left: 7rem;
}

#weight {
    margin-top: -1.2rem;
    font-weight: normal;
    font-size: 1.15rem;
    margin-bottom: 0.625rem;
    margin-left: -1.05rem;
}

#weighttitle {
    margin-top: 4.3rem;
    margin-left: -1.05rem;
}

#bmi {
    margin-top: -1.2rem;
    font-weight: normal;
    font-size: 1.15rem;
    margin-bottom: 0.625rem;
    margin-left: -1.05rem;
}

#bmititle {
    margin-top: 4.3rem;
    margin-left: -1.05rem;
}

div.profile_header {
    padding: 1.5rem;
    font-family: "DM Sans";
    background: linear-gradient(to right, #f8fdf9, #cde9e3);
    border-top-right-radius: 1.2rem;
    border-top-left-radius: 1.2rem;
    margin-left: 1.2rem;
    margin-right: 65rem;
    height: 10rem;
    width: 25rem;
}

/* Coach podstránka */
p.backbutton {
    font-family: "DM Sans";
    margin-left: 1.25rem;
}

article.recipe {
    width: 18.75rem;
    padding: 0.625rem;
    border-radius: 1.25rem;
    background-color: white;
    display: inline-block;
    /* </div> by automaticky 
    skončil řádek, toto zajišťuje, že ne */
    margin-bottom: 1rem;
}

article.exercise_video {
    width: 20.75rem;
    padding: 0.625rem;
    border-radius: 1.25rem;
    background-color: white;
    display: inline-block;
    /* </div> by automaticky 
    skončil řádek, toto zajišťuje, že ne */
    margin-bottom: 1rem;
}

article.article {
    width: 15rem;
    height: 11rem;
    padding: 0.625rem;
    border-radius: 1.25rem;
    background-color: white;
    display: inline-block;
    /* </div> by automaticky 
    skončil řádek, toto zajišťuje, že ne */
    margin-bottom: 1rem;
    cursor: pointer;
}

h2.article_title {
    font-size: 2rem;
    padding: 1rem;
    margin-top: -0.2rem;
    font-family: "Exo 2";
    cursor: pointer;
}

img.article_forward {
    float: right;
}

#arrow_forward {
    margin-right: 2rem;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #004455;
}

h2.recipetitle {
    margin-left: 1.25rem;
    font-family: "Exo 2";
    font-weight: 600;
    cursor: pointer;
    color: #004455;
}

img.recipeimage {
    height: 12.5rem;
    width: 18.75rem;
    border-radius: 0.9rem;
}

img.exerciseimage {
    height: 12.5rem;
    width: 20.75rem;
    border-radius: 0.9rem;
}

#recipescarousel {
    overflow: auto;
    /* horizontal scroll */
    white-space: nowrap;
    user-select: none;
}

::-webkit-scrollbar-thumb {
    background-color: #cae0dc;
    border-radius: 999rem;
}

#name_input {
    scale: 0;
    margin-left: 1.2rem;
    margin-top: 0.5rem;
    width: 27.5rem;
    height: 3.2rem;
    border-bottom-left-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
    border-color: transparent;
    text-align: center;
    font-family: "DM Sans";
}

#mobiletabs {
    visibility: hidden;
    position: fixed;
}

#weight_input {
    padding: 10px;
    background-color: white;
    border-color: transparent;
    margin-left: 1.2rem;
    margin-top: 2rem;
    width: 26.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

#height_input {
    padding: 10px;
    background-color: white;
    border-color: transparent;
    margin-left: 1.2rem;
    margin-top: 0.3rem;
    width: 26.5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

#weight_indicator {
    float: left;
    margin-top: -25rem;
    margin-left: 31rem;
}

#height_indicator {
    float: left;
    margin-top: -22rem;
    margin-left: 31.1rem;
}

#debug_menu {
    background-color: #e8e8e8;
    width: 20rem;
    height: 11rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
    float: right;
    border-radius: 0.8rem;
    padding: 1rem;
    white-space: collapse;
    visibility: hidden; /* změna při open_debug() */
}

#clearvaluesbutton {
    margin-top: 0.5rem;
}

#debug_title {
    font-family: "Exo 2";
    font-weight: normal;
    margin-left: 0.3rem;
    margin-top: 0.2rem;
}

button.debug_button {
    animation: button_press_revert 0.15s forwards;
    background-color: white;
    border-color: transparent;
    padding: 1rem;
    float: left;
    border-radius: 0.8rem;
    font: 0.8rem "Exo 2";
    cursor: pointer;
    margin-right: 1rem;
}

#open_debug_button {
    float: right;
    margin-top: -4.2rem;
}

#close_debug_button {
    font-family: "DM Sans";
    font-weight: bolder;
    background-color: transparent;
    border-color: transparent;
    margin-left: 8.5rem;
    margin-bottom: 0.2rem;
    font-size: 1rem;
    cursor: pointer;
}

button.debug_button:active {
    animation: button_press 0.15s forwards;
}

#debugnotice {
    background-color: #fff2f2;
    padding: 1rem;
    font: 0.5em "DM Sans";
    margin-right: 9rem;
    margin-top: -0.3rem;
    border-radius: 0.9rem;
    color: #7d0b0b;
    float: right;
}

input.debug_slider {
    accent-color: #068675;
}

#age_easter_egg { /* Nezapomenout dodělat */
    visibility: visible;
}

/* Ikony */
#mainicon {
    margin-bottom: -0.25rem;
    margin-left: 0.9375rem;
    margin-right: 0.625rem;
    scale: 1.5;
}

img.inline_icon {
    margin-bottom: -0.1875rem;
}

img.checkmark {
    height: 1.5em;
    width: 1.5em;
    margin-bottom: -0.3em;
}

#stepscheckmark {
    margin-left: 6em;
}

#distancecheckmark {
    margin-left: 4.62em;
}

#azmcheckmark {
    margin-left: -0.22em;
}

#weighticon {
    margin-left: 0.2rem;
    scale: 1.2;
    margin-top: 0.2rem;
}

#mainiconsettings {
    height: 1.8rem;
    width: 1.8rem;
}

#full_name {
    margin-top: 4rem;
    overflow: hidden;
    max-width: 27rem;
    max-height: 2rem;
}

#join_date {
    margin-top: -0.8rem;
}

#name_button {
    background-color: white;
    border-color: transparent;
    padding: 0.7rem;
    font-family: "DM Sans";
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    margin-top: 0.5rem;
    margin-left: 1.2rem;
    width: 28rem;
    height: 3.5rem;
    animation-name: name_button_click_revert;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

#name_button:active {
    animation-name: name_button_click;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}
/* animation */
@keyframes change_tab_animation {
    from {margin-left: 23.4rem;}
    to {}
}

@keyframes startup {
    from {opacity: 0; margin-left: -2rem;}
    to {opacity: 1; margin-left: 0rem;}
}

@keyframes name_box_appear {
    from {background-color: transparent; margin-top: -1rem;}
    to {background-color: white; margin-top: 0.5rem;}
}

@keyframes arrow_cycle {
    0% {margin-right: 2rem;}
    10% {margin-right: 0rem; scale: 0;}
    12% {margin-right: 4rem; scale: 0;}
    42% {margin-right: 2rem; scale: 1;}
}

@keyframes checkmark_appear {
    from {scale: 0; filter: grayscale(1);}
    to {scale: 1; filter: grayscale(0);}
}

@keyframes checkmark_disappear {
    from {scale: 1; filter: grayscale(0);}
    to {scale: 0; filter: grayscale(1);}
}

@keyframes debug_appear {
    from {opacity: 0; margin-top: -1rem;}
    to {opacity: 1; margin-top: 0rem;}
}

@keyframes debug_disappear {
    from {opacity: 1; margin-top: 0rem;}
    to {opacity: 0; margin-top: -1rem;}
}

@keyframes name_button_click {
    from {background-color: white; scale: 1;}
    to {background-color: #f0f9f5; scale: 0.95;}
}

@keyframes name_button_click_revert {
    from {background-color: #f0f9f5; scale: 0.95;}
    to {background-color: white; scale: 1;}
}

@keyframes button_press {
    from {color: black; background-color: white;scale: 1;}
    to {color: white; background-color: gray; scale: 0.89;}
}

@keyframes button_press_revert {
    from {color: white; background-color: gray; scale: 0.89;}
    to {color: black; background-color: white; scale: 1;}
}

@keyframes scale_out {
    from {scale: 1; opacity: 1;}
    to {scale: 0.96; opacity: 0.8;}
}

@keyframes special_article1_expand {
    0% {scale: 1;}
    50% {margin-left: 70rem;}
    100% {scale: 20; margin-left: 100rem; margin-top: -20rem;}
}

@keyframes redirect_animation {
    from {opacity: 1; scale: 1;}
    to {opacity: 0; scale: 0.95;}
}

/* Mobilní layout */
@media only screen and (max-width: 1018px) {
    html {
        width: 100%;
        /* Nemám tušení proč to bez tohoto nefunguje a nelíbí se mi to */
        height: 100%;
    }
    
    body {
        width: 100%;
        height: 100%;
        overflow: scroll; /* Bez tohoto nebude fungovat scrolling na mobilu */
        -webkit-overflow-scrolling: touch;
    }

    html, body { /* Záplata na scrolovací problém */
        max-width: 100%;
        overflow-x: hidden;
    }

    #sidebar {
        float: left;
        width: 100%;
    }

    div.fitness_statistics {
        width: 100%;
        height: 6.25rem;
        margin-top: 0;
        flex: grid;
    }

    progress {
        width: 92%;
        height: 25%;
        border-radius: 999rem;
        display: flex;
        justify-content: center;
        margin: auto;
    }

    p.progressbartext {
        margin-left: 88%;
        margin-top: 0.1875rem;
        font-family: "DM Sans"
    }

    #tabs {
        visibility: hidden;
    }

    #mobiletabs {
        visibility: visible;
        background-color: #eff1ee;
        text-align: center;
        position: fixed;
        bottom: 0;
        margin: 0 auto;
        width: 100%;
        height: 12%;
        font-family: "DM Sans";
    }

    #mobiletabtexts {
        width: 10rem;
        height: 1rem;
        display: grid;
        justify-content: center;
    }

    #mobiletab0 {
        position: absolute;
        display: flex;
        width: 100%;
        justify-content: center;
        margin-left: -25%;
        margin-top: 3.5rem;
        z-index: 4;
    }

    #mobiletab1 {
        position: absolute;
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 3.5rem;
        z-index: 4;
    }

    #mobiletab2 {
        position: absolute;
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 3.5rem;
        margin-left: 25%;
        z-index: 4;
    }

    #contentbackground {
        float: left;
        margin-right: 0;
        margin-left: 0;
        width: 100%;
        margin-top: 1.8rem;
        border-top-left-radius: 1.25rem;
        border-top-right-radius: 1.25rem;
    }

    p.progressbartext {
        margin-top: 0.2875rem;
    }

    #sidebar {
        margin-top: -4rem;
    }

    #titlesurroundingbox {
        height: 3.75rem;
    }

    #stepscheckmark {
        margin-left: 0rem;
    }

    #distancecheckmark {
        margin-left: -0.2rem;
    }

    #titletext {
        display: grid;
        justify-content: space-evenly;
        align-items: start;
        margin-top: 0;
    }

    #mainicon {
        visibility: hidden;
    }

    #open_debug_button {
        margin-top: 2rem;
        position: absolute;
    }

    #debugnotice {
        background-color: #fff2f2;
        padding: 1rem;
        font: 0.5em "DM Sans";
        margin-right: 14rem;
        margin-left: -7.7rem;
        margin-top: -3.3rem;
        border-radius: 0.9rem;
        color: #7d0b0b;
        float: left;
        scale: 0.8;
        z-index: 1;
    }

    #debug_menu {
        position: fixed;
        z-index: 1;
    }

    #open_debug_button {
        position: static;
        padding: 0.5rem;
        margin-left: 78%;
        margin-top: -4.3rem;
        height: 3rem;
        width: 5.8rem;
    }

    h2.generaltitle {
        padding: 0.8%;
        margin-left: 2.5%;
    }
}